<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>入力内容をご確認ください。</title>
</head>
<body>
 <h2>入力内容をご確認ください。</h2>
  <table class="confirm" aria-label="入力内容確認">
      <thead>
        <tr>
          <th class="col-left">項目</th>
          <th class="col-right">入力内容</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="col-left">お名前</td>
          <td class="col-right" th:text="${contactForm.getUserName()}"></td>
        </tr>
        <tr>
          <td class="col-left">メールアドレス</td>
          <td class="col-right" th:text="${contactForm.getEmail()}"></td>
        </tr>
        <tr>
          <td class="col-left">お問い合わせ内容</td>
          <td class="col-right"th:text="${contactForm.getMessage()}"></td>
        </tr>
      </tbody>
    </table>
 
</body>
</html>