

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<title>お問い合わせフォーム</title>
</head>

<body>
<form th:action="@{/contactForm}" method="post" th:object="${contactForm}">
	<h2>お問い合わせフォーム</h2>
    
    <label for="userName">お名前</label><br>
    <input type="text" id="userName" th:field="*{userName}"><br>
    <div th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}" style="color: red;"></div>
    
    <label for="email">メールアドレス</label><br>
 <input type="text" id="email" th:field="*{email}"><br> <!--   id="email"省略可能？-->
    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div>
    
    <label for="message">お問い合わせ内容</label><br>
    <textarea id="message" th:field="*{message}"></textarea><br>
    <div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></div>
    
    <button type="submit">送信</button>
 </form>
</body>
</html>
